venv/
myvenv/

*.pyc
*.py[cod]

*.sqlite3
db.sqlite3

/manage.py

__pycache__/

settings.py
mysite/settings.py

chesswave/chess/

chesswave/migrations/

tests.py
chesswave/tests.py
chesswave/chess/tests.py

*~
